<!-- Navigation Bar HTML -->
<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="index.html">AM</a>
        </div>
        <ul class="nav-links">
            <li><a href="videos.html" id="videos-link">Video</a></li>
            <li><a href="photos.html" id="photos-link">Photo</a></li>
            <li><a href="paintings.html" id="paintings-link">Paintings</a></li>
            <li><a href="about.html" id="about-link">About</a></li>
        </ul>
    </div>
</nav>